.us-img {
  background-image: url("/us.jpeg");
  background-position: center;
  background-size: cover;
}

.not-zoom-in {
  transform: scale(1.05, 1.05);
}

.zoom-in {
  animation: zoom-in 4s ease-out;
}

@keyframes zoom-in {
  0% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
